            <nav class="level is-mobile">
                <div class="level-left">
                    <div class="level-item">
                        <a class="button is-primary{% if not precedent %} is-static"{% else %} is-outlined" href="{{precedent}}"{% endif %}>
                            <span class="icon is-small">
                                <i class="fas fa-arrow-left"></i>
                            </span>
                            <span>Précédent</span>
                        </a>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <a class="button is-primary{% if not suivant %} is-static"{% else %} is-outlined" href="{{suivant}}"{% endif %}>
                            <span>Suivant</span>
                            <span class="icon is-small">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>   
                </div>
            </nav>